.divGlobal {
  width: 80%;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px black;   /* rgba(0, 0, 0, 0.1);  */
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.divGlobal label {
  font-weight: 600;
  margin-bottom: 5px;
  color: #333333;
}

.divGlobal textarea
{
  width: 100%;
  height: 90px;
  padding: 10px 12px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  font-size: 14px;
  resize: vertical;
  transition: border-color 0.2s, box-shadow 0.8s;
}

.divGlobal input[type="text"],
.divGlobal input[type="number"]{
    padding: 10px 12px;
    width:50%;
    height: 30px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 14px;
    transition: box-shadow 0.1s, border-color 0.8s;
}

.divGlobal textarea:hover,
.divGlobal input[type="text"]:hover,
.divGlobal input[type="number"]:hover{
   
    border-color: #007bff;
    
}


.divGlobal textarea:focus,
.divGlobal input[type="text"]:focus,
.divGlobal input[type="number"]:focus{
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
    border-color: #007bff;
    outline: none;
}



.divbuttons{
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; /* ✅ permet le retour à la ligne automatique */
  gap: 12px; 
  margin-top: 20px;
  margin-bottom: 10px;
  
}



.divbuttons button{
    color:#ffffff;
    background-color: #007bff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s, transform 0.1s;
}


.divbuttons button:hover{
    background-color: #0056b3;
    transform: translateY(-2px);
}


.divbuttons button:active{
    transform: translateX(10px);
}



.divcachedButtons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
  background-color:aliceblue ;
}


.divcachedButtons button{
  background-color: cornflowerblue;
}



.result {
  background-color: #f9f9f9;
  border-color: #b3b3b3;
  cursor: not-allowed;
}