body{
    background-color: #f0f4f8;
}

.formm{
    max-width: 400px;
    background-color:#fffafa ;
    gap:20px;
    border: 20px solid #f5f5f5;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0 4px 20px black;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px auto; 
}



.formm h2{


    color: #007bff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-shadow: 2px 2px 5px ;
    
}


.formm label{
    font-weight: 600;
    margin-bottom: 5px;
    color: #333333;
}


.formm input[type="text"],
     input[type="email"],
     input[type="password"]{
         
    background-color: transparent;
    border: none;
    border-bottom:1px solid #cccccc;
    outline: none;
    padding: 10px 12px;
    width:50%;
    height: 30px;
    font-size: 14px;
    transition: box-shadow 0.1s, border-color 0.8s;
}

.formm input[type="text"]:hover,
     input[type="email"]:hover,
     input[type="password"]:hover{

     border-bottom-color: #007bff;
}

.formm input[type="text"]:focus,
     input[type="email"]:focus,
     input[type="password"]:focus{

    box-shadow: 0 3px 5px -2px rgba(0, 123, 255, 0.3);
    border-bottom-color: #007bff;
    outline: none;
}

.formm button{
    color:#ffffff;
    background-color: #007bff;
    font-size: 14px;
    width:50%;
    align-self: flex-start;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s, transform 0.1s;
}


.formm button:hover{
    background-color: #0056b3;
    transform: translateY(-2px);
}

.formm button:active{
    transform: translateX(10px);
}
