.div1{
    margin:20px auto;
    padding: 100px;
    width: 500px;
    height: 500px;
    border: 5px solid blue;
    border-radius: 10px;
    justify-content: center; /* centre horizontalement*/
    align-items: center; /* centre verticalement*/
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    color: brown;
}



